.env
phpunit.xml.dist
preload.php
spark
.vscode/
app/Config/Development/
writable/cache/*
!writable/cache/index.html
!writable/cache/.htaccess
writable/debugbar/*
!writable/debugbar/index.html
!writable/debugbar/.htaccess
writable/logs/*
!writable/logs/index.html
!writable/logs/.htaccess
writable/session/*
!writable/session/index.html
!writable/session/.htaccess
writable/uploads/*
!writable/uploads/index.html
!writable/uploads/.htaccess
vendor/
*.log
.DS_Store
Thumbs.db