.table-prodeo-container {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.table-prodeo thead th {
  background-color: var(--prodeo-blue);
  color: white;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 1px;
  padding: 15px;
  border: none;
}

.table-prodeo tbody td {
  padding: 15px;
  vertical-align: middle;
  border-bottom: 1px solid #eee;
}

.empty-state-icon {
  font-size: 3rem;
  opacity: 0.3;
}

.col-id {
  width: 15%;
}
.col-name {
  width: 55%;
}
.col-actions {
  width: 30%;
}
