.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.btn-prodeo-fixed {
  background-color: #f9d611;
  color: #003087;
  font-weight: 800;
  border: none;
  border-radius: 12px;
  padding: 0 20px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-prodeo-fixed:hover {
  background-color: #e5c410;
  color: #003087;
  transform: translateY(-2px);
}

.table-prodeo-container {
  background: white;
  border-radius: 15px;
  overflow: hidden;
}
